BITGET_QWEN_API_KEY=
QWEN_BASE_URL=https://hackathon.bitgetops.com/v1
QWEN_MODEL=qwen3.8-max
PORT=3847
QWEN_TIMEOUT_MS=50000
QWEN_MAX_TOKENS=420
SIGNAL_BTC_TIMEOUT_MS=12000
SIGNAL_NASDAQ_TIMEOUT_MS=12000
SIGNAL_EVENT_TIMEOUT_MS=8000
# Fast paths news_feed + macro_indicators always tried (short timeout).
# Set to 1 to also attempt Signal tradfi_news (profiled hang) as last resort.
SIGNAL_TRY_EVENTS=0
